.map2-full-body{
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(255, 255, 255);
  }
  
#map2-heading {
    margin: 20px;
  }
  
  #map2 {
    width: 90%;
    height: 80vh;
    margin: auto;
    border: 2px solid #444;
  }
  